
@import "compass/css3";

@import url(http://fonts.googleapis.com/css?family=Merriweather+Sans);
div.social-wrap button {
    padding-right: 45px;
    height: 35px;
    background: none;
    border: none;
    display: block;
    background-size: 32px 32px;
    background-position: left center;
    background-repeat: no-repeat;
    border-radius: 4px;
    color: white;
    margin-bottom: 15px;
    width: 205px;
    border-bottom: 2px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    box-shadow: 0 4px 2px -2px gray;
    text-shadow: rgba(0, 0, 0, .5) -1px -1px 0;
}

#my-signin2 div.abcRioButtonRed{
    
    width: 100% !important;
    
}

button#facebook {
    
    background-image: url(http://icons.iconarchive.com/icons/danleech/simple/512/facebook-icon.png);
    border-color: #2d5073 !important;
    background-color: #4A6EA9;
    
}

button#facebook:active {
    background-color: #222;
}

button#googleplus {
    border-color: #111;
    background-color: #222;
    text-shadow: #333 -1px -1px 0;
    background-image:url(http://i.tinyuploads.com/KBZc6n.png);
}

form,div.social-wrap{
    
    width: 600px;
    margin: auto;
    background:#F2FFFF;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 7px;
}
#miFormulario input, select,button#facebook,button#googleplus{
    
    width: 100%;
    margin-bottom: 20px;
    padding: 5px;
    box-sizing: border-box;
    font-size: 17px;
    border: none;
    
    
}

#boton {
    margin-top: 20px;
    width: 100%;
    background: #31384A;
    color:#fff;
    padding: 20px;
}
#boton:hover {
    
    cursor: pointer;
    background: rgba(51,51,51,0.8);
    
}

button#facebook:hover{
    
    cursor: pointer;
}

input[type="password"], input[type="text"],
select,input[type="number"],input[type="date"],textarea {
  background: url('http://i.minus.com/ibhqW9Buanohx2.png') center left no-repeat, linear-gradient(top, #d6d7d7, #dee0e0);
  border: 1px solid #a1a3a3;
  border-radius: 4px;
  box-shadow: 0 1px #fff;
  box-sizing: border-box;
  color: #696969;
  height: 30px;
  padding-left: 20px;
  transition: box-shadow 0.3s;
  width: 200px;
}



input[type="password"]:focus, input[type="text"]:focus {
  box-shadow: 0 0 4px 1px rgba(55, 166, 155, 0.3);
  outline: 0;
}

.forgot {

  color: #7f7f7f;
  display: block;
  float: right;
  font: 12px/1 sans-serif;
  left: -19px;
  position: relative;
  text-decoration: none;
  top: 5px;
  transition: color .4s;
}
.forgot:hover { color: #3b3b3b }


input[type="submit"] {
  
  display:block;
  font-family:Arial, "Helvetica", sans-serif;
  font-size:16px;
  font-weight:bold;
  color:#fff;
  text-decoration:none;
  text-transform:uppercase;
  text-align:center;
  text-shadow:1px 1px 0px #37a69b;
  padding-top:6px;
  
  position:relative;
  cursor:pointer;
  border: none;  
  background-color: #37a69b;

  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius:5px;
  
}


    



@media (max-width:600px){
    form{
        width: 100%;
    }
    
   
}